<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"> Create Your Personalised Profile! </h1>
    <p class="text-center"> Join The Dev Comminuty Today! </p>
    <div class="well">
      <%= render='form' %>
    </div>
  </div>
</div>