<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center"> Create Your Personalised Profile! </h1>
    <p class="text-center"> Join The Dev Comminuty Today! </p>
    <div class="well">
      <%= render 'forms' %>
    </div>
  </div>
</div>