<div class="home-page container-fluid text-center">
  <h1>Welcome to DevMatch</h1>
  <h3>A membership site where developers and entrepreneur can network</h3>
</div>

<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4>
          <ul>
            <li>Customise your professional profile</li>
            <li>Network with companies worldwide</li>
            <li>Search and view other members profiles</li>
          </ul>
        </h4>
        <h2 class="text-center"> FREE!!!</h2>
        <br>
        <%= link_to "Basic Sign Up", new_user_registration_path(subscription: @basic_subscription.id), class: "bt btn-primary btn-lg btn-block text-center" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Premium Membership</h2>
        <h4>
          <ul>
            <li> See who's viewing your profile </li>
            <li> Access Contact Info </li>
            <li> Access Industry News </li>
            <li> Access Profile Analytics </li>
            <li> Much much more... </li>
          </ul>
        </h4>
        <h2 class="text-center"> $9.99/month</h2>
        <br>
        <%= link_to "Premium Sign Up", new_user_registration_path(subscription: @pro_subscription.id), class: "bt btn-warning btn-lg btn-block text-center" %>
      </div>
    </div>
  </div>
</div>