<!DOCTYPE html>

<html>
    <head></head>
    <body>
        <h4>You have received a message from the site's contact form, 
        from: <%="#{@name}, #{@email}." %></h4>
        <p><%= @comments %></p>
    </body>
    
</html>