<!DOCTYPE html>

<html>
    <hea></hea>
    <bod>
        <p>You have received a message from the site's contact form, 
        from <%="#{@name}, #{@email}." %></p>
        <p><%= @comments %></p>
        
        
        
    </bod>
    
    
</html>