<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h5>You have received a message from the site's contact form, from
    <%= "#{@name}, #{@email}." %></h5>
    <p><%=@comments%></p>
  </body>
</html>
