/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
//Body Styling
body{
 //Typography Styles
 font-family: 'Montserrat', sans-serif;
}

.navbar, .home-page{
	//Background Gradient
	//Gradient by @_ighosh @uigradients.com
	background: #373B44;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Navigatoin Bar Styling
.navbar{
	border: none;
}

.navbar-brand{
	font-weight:800;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav>li>a{
	color: white;
 &:hover{
 	color: white;
 	opacity:.70;
 }
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle {
	border: 2px solid white;
	&:focus, &:hover{
		background-color: #4286f4;	
 }
}

//Home page CSS
.home-page{
	color: white;
	margin-top: -20px;
	padding-top: 50px;
	padding-bottom: 100px;
}

.home-signup-links {
	margin-top: 5em;
}

//Sign Up for styling
.form-spacing	{
	padding-top: 7em;
}

.alert-container {
	position: absolute;
	width: 100%;
	padding: 0px;
}
.alert-notice, .alert-alert {
	color: white;
  text-align: center;
  background: #ffffff30;
  border-color: #ffffff47;
  margin-top: -15px;
}

#error_explanation h2 {
	display: none;
}

#error_explanation ul{
	color: red;
}

#text_area {
	width: 100%;
	height: 200px;
	resize: none;
}