.avatar-img {
  width: 128px;
  height: 128px;
}

.occupation-icon {
  display: inline-block;
  width: 30px;
  height:  30px;
  color: black;
  text-align: center;
}

.well.profile-block {
  color: white;
  h3 {
    margin-top: 0;
  }
}

.well.profile-about {
  background-color: #0000009e;
  border-color: #0000009e;
}

.well.contact-info {
  background-color: #0000009e;
  border-color: #0000009e;
}


//Community page css
.user-index-avatar  {
  width: 128px;
  height: 128px;
  margin-left: 1px;
  border-radius: 50%;
}

.well.white-bg {
  background: white;
}

.label-danger {
    background-color: #dc191b;
}