.avatar-img {
  width: 128px;
  height: 128px;
}

.occupation-icon {
  display: inline-block;
  width: 30px;
  height:  30px;
  border: 2px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
  text-align: center;
}

.well.profile-block {
  color: white;
  h3 {
    margin-top: 0;
  }
}

.well.profile-about {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.well.contact-info {
  background: #5cb85c;
  border-color: #4cae4c;
}


//Community page css
.user-index-avatar  {
  width: 128px;
  height: 128px;
  margin-left: 1px;
  border-radius: 50%;
}

.well.white-bg {
  background: white;
}